body,
#root,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: $primary-font;
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.flex-row {
    width: 100%;
  }

  .inline-flex {
    display: inline-flex;
  }
}

.right {
  text-align: right;
}

p {
  margin: 0;
}

.text-large {
  color: $primary-color;
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
  font-family: $secondary-font;
}

.text-info {
  color: $info-color;
  font-family: $primary-font;
  &.small {
    font-size: 14px;
  }
  &.smaller {
    font-size: 12px;
  }
}

.ecology {
  color: $green;
  &.info {
  }
  &.big {
    font-size: 18px;
    margin-bottom: 0;
    font-style: italic;
    font-family: $primary-font;
    font-weight: 300;
  }
}

h2 {
  color: $primary-color;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 16px;
}

h3 {
  font-family: 'Montserrat';
}

button {
  &.primary {
    color: $red;
  }
}
