.top-navbar {
  width: calc(100 % - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 10px 30px;
  margin: 0;
  height: auto;
  background-color: #293462;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  &_logo {
    p {
      color: white;
      font-size: 18px;
    }
  }

  &_connexion {
    a {
      color: white;
      font-size: 14px;
      position: relative;
      text-decoration: none;
      line-height: 24px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        transition: transform 0.5s ease;
      }

      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: darken(rgb(59, 213, 255), 10%);
        transform: scaleX(0);
      }

      &:hover:before {
        transform: scaleX(1);
      }
    }
  }
}
