.result-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 26px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  height: 220px;

  .info-wrapper {
    width: 150px;
  }

  .step-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
  }

  .step {
    width: 50px;
    text-align: center;
    margin-right: 6px;

    .material-icons {
      color: $primary-color;
      font-size: 44px;
    }
  }
}
