{
  "extends": ["standard-preact", "standard"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": [0],
    "space-before-function-paren": [0],
    "jsx-quotes": [2, "prefer-double"]
  }
}
