DateTime==4.2
Flask==1.0.2
Flask-Cors==3.0.4
Flask-JSON==0.3.4
folium==0.10.0
geographiclib==1.49
geopy==1.20.0
loguru==0.2.5
navitia-client==0.6.2
numpy==1.14.3
openrouteservice==2.2.3
pandas==0.23.0
path.py==11.0.1
requests==2.18.4
requests-oauthlib==1.0.0
Shapely==1.6.4.post2
skyscanner==1.1.4
trainline==0.1.1
xlrd==1.1.0
xmltodict==0.12.0
